@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

body {
    direction: rtl;
    background-color: #8623bf;
    padding-bottom: 200px;
}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    color: white;
    margin: 16px;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
}

.task {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 12px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 12px 0;
    margin: 0px;
}

button {
    background-color: #8bc34a;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
}

button:hover {
    background-color: #a4d967;
}

input,
select {
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 3px;
}

.studentCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.studentCards>div {
    box-shadow: 0 0 3px #7b7b7b;
    background-color: white;
    border-radius: 5px;
    padding: 0 14px;
}

.frame header {
    text-align: center;
    padding: 18px;
}

.frame header label {
    padding: 6px 12px;
    border-radius: 16px;
    background-color: white;
    margin: 0px 4px;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
}

.frame header label:hover {
    scale: 1.2;
}

.frame header label.active {
    background-color: #8623bf;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    background-color: white;
}

tr:first-child {
    background: none;
}

tr:nth-child(even) {
    background-color: #d9d9d9;
}

th {
    text-align: center;
}

th, td {
    padding: 6px;
}