@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600;700;900&family=Satisfy&display=swap');

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    direction: rtl;
    font-family: 'Heebo', sans-serif;
    animation: fadeIn 2s;
}

nav {
    padding: 0 !important;
    box-shadow: 0px 5px 10px 1px rgba(168, 168, 168, 0.4784313725);
    position: sticky !important;
    top: 0;
    z-index: 1;
}

.logo {
    font-family: 'Satisfy', cursive;

    span {
        margin-left: 8px;
        font-size: 25px;
        position: relative;
        top: 8px;
    }

    .icon {
        height: 60px;
        border-radius: 8px;
    }
}

li.nav-item {
    margin: 0 12px;
    white-space: nowrap;
}

a.nav-link {
    font-size: 20px;
    font-weight: 600;
    color: #2C2C2C !important;
}

.main {
    text-align: center;
    background-image: linear-gradient(45deg, #13e8f14d, #13e8f14d), url(assets/Image20230430153820.png);
    background-size: cover;
    padding: 12vw 6vw !important;
    margin: 0 !important;

    h1 {
        font-size: 80px;
        font-weight: bold;
    }
}

.icons {
    text-align: center;
    box-shadow: 0px 3px 6px #00000029;
    direction: ltr;
    padding: 8px;

    img {
        height: 80px;
        transition: 0.3s;

        &:hover {
            scale: 1.1;
        }
    }
}

#about {
    text-align: center;
    max-width: 850px;
    margin: auto;
    padding-top: 90px !important;
    padding-bottom: 90px !important;

    img {
        width: 150px;
        border-radius: 50%;
    }

    h2 {
        margin: 30px;
        font-weight: bold;
    }

    button {
        margin-top: 20px;
        font-size: 1.4em;
        border-radius: 30px;
        padding: 6px 32px;
    }
}

#gallery {
    padding: 100px 0;
    background-color: #f3f3f3;

    h2 {
        text-align: center;
        font-weight: bold;
    }

    .row {
        max-width: 1100px;
        padding: 16px;
        margin: auto;

        &>div {
            padding: 16px;
        }

        .card {
            border-radius: 10px;
            overflow: hidden;
            text-align: center;
            transition: 0.6s;

            img {
                transition: 0.6s;
            }

            &:hover {
                box-shadow: 0 0 8px #00000056;

                img {
                    scale: 1.1;
                    translate: 0 -5px;
                    filter: brightness(80%);
                }
            }

            .card-body {
                padding: 2rem 1rem;

                h4 {
                    font-size: 25px;
                    font-weight: bold;
                }
            
                p {
                    margin-top: 20px;
                    font-size: 15px;
                }
            
                a {
                    margin-top: 20px;
                    border-radius: 30px;
                    padding: 6px 32px;
                }
            }
        }
    }
}

#contact {
    background-image: linear-gradient(45deg, #00000073, transparent), url(assets/Image20230502125311.png);
    background-color: #3A3A3A;
    padding: 7em 5vw !important;
    margin: 0 !important;
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: revert;

    form {
        margin: 32px 0;
    }

    .form-control {
        border-bottom: 3px solid #31d2f2;
        border-radius: 0;
        margin-bottom: 16px;
    }

    button {
        margin-top: 32px;
        font-size: 1.4em;
        border-radius: 30px;
        padding: 6px 32px;
    }
}

#links {
    background-color: #31d2f2;
    text-align: center;
    padding: 25px 0;
    direction: ltr;
    margin: 0;

    img {
        height: 40px;
        display: block;
        margin: auto;
    }

    span {
        margin: 8px 0;
        display: inline-block;
    }
}

footer {
    padding: 8px;
    background-color: black;
    color: white;
}