@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;500;700;900&display=swap');

* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin: 8px;
}

.tasksFrame {
    background-color: #ffffca;
    min-height: 200px;
    max-width: 600px;
    margin: 16px auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    padding: 6px;
}

.tasksFrame.complete {
    background-color: #e3e3e3;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #d4d4d4;
    align-items: center;
}

.task:focus-within {
    border-top: 2px solid #d4d4d4;
    border-bottom: 3px solid #d4d4d4;
}

.task p {
    margin: 0;
    outline: 0;
    width: 100%;
}

.task button {
    background: none;
    outline: 0;
    border: 0;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    visibility: hidden;
    transition: 0.3s;
}

.task:hover button {
    visibility: visible;
}

.task button:hover {
    scale: 1.5;
    color: red;
}

.add {
    background-color: #8bc34a;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    margin-top: 8px;
}

.add:hover {
    background-color: #a4d967;
}

.tasksFrame.complete button.complete {
    display: none;
}

.undo {
    display: none;
}

.tasksFrame.complete .undo {
    display: block;
}