.Articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.Articles .card {
    background-color: white;
    box-shadow: 0 0 3px black;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.Articles .card:hover {
    box-shadow: 0 0 15px;
}

.Articles .card:active {
    scale: 1.05;
}

.Articles header {
    font-weight: bold;
}

.Articles header, .Articles footer {
    padding: 4px 8px;
}

.Articles img {
    width: 100%;
}