
/*******************************/
/*******************************/
/*** זה רק למשוגעים בראש *****/
/*******************************/
/*******************************/
.ex7 div::before {
    position: absolute;
    right: -5px;
    top: -35px;
    font-weight: bold;
    font-size: 17px;
}

.ex7 div::after {
    position: absolute;
    right: -25px;
    bottom: -12px;
    font-weight: bold;
    font-size: 17px;
}

.ex7 div:nth-child(1)::before {
    content: "1";
}

.ex7 div:nth-child(2)::before {
    content: "2";
}

.ex7 div:nth-child(3)::before {
    content: "3";
}

.ex7 div:nth-child(4)::before {
    content: "4";
}

.ex7 div:nth-child(5)::before {
    content: "5";
}

.ex7 div:nth-child(5)::after {
    content: "6";
    position: absolute;
    left: -5px;
    right: initial;
    top: -35px;
    font-weight: bold;
}

.ex7 div:nth-child(1)::after {
    content: "2";
}

.ex7 div:nth-child(6)::after {
    content: "3";
}

.ex7 div:nth-child(10)::after {
    content: "4";
}

.ex7 div:nth-child(15)::after {
    content: "5";
}

.ex7 div:nth-child(19)::after {
    content: "6";
}
/*******************************/
/*******************************/
/*******************************/