small {
    font-weight: normal;
}

.all div {
    background-color: cadetblue;
    border: 1px solid;
    text-align: center;
    padding: 6px;
}

.all {
    display: grid;
}

.ex1 {
    grid-template-columns: auto auto;
}

.ex2 {
    grid-template-columns: auto auto auto;
}

.ex3 {
    grid-template-columns: auto auto auto;
    gap: 15px;
}

.ex4 {
    grid-template-columns: 10% 60% auto;
}

.ex5 {
    grid-template-columns: auto auto auto;
    gap: 5px;
}

.ex5 div:nth-child(4) {
    grid-column: 1 / 3;
    background-color: coral;
}

.ex6 {
    /* Fraction */
    /* יחידות מידה המאפשרות אחידות ושינוי יחסי */
    grid-template-columns: 1fr 2fr 1fr;
}

.ex6 div:nth-child(4) {
    grid-row: 2 / 4;
    background-color: coral;
}