@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700;900&display=swap');

body {
    direction: rtl;
    background-color: #58c0c0;
    font-family: 'Rubik', sans-serif;
}

h1 {
    text-align: center;
}

form {
    width: 80%;
    background-color: white;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 0 3px #5c5c5c;
    margin: auto;
    max-width: 600px;
}

div {
    margin-bottom: 12px;
    max-width: 300px;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 0 3px #000000b3;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 3px;
}

input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid gray;
    /* width: 100%; */
    box-sizing: border-box;
}

/* עיצוב Class */
.elyashivClass {
    border-right: 5px solid burlywood;
}

/* עיצוב ID בודד */
#idoID {
    background-color: #de8383;
}