/* ייבוא גופן ממקור חיצוני */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

body {
    /* כיוון האתר מימין לשמאל */
    direction: rtl;
    /* שינוי גופן לאתר */
    font-family: 'Rubik', sans-serif;
    /* רקע */
    background-color: rgb(61, 139, 97);
}

h1 {
    /* יישור טקסט */
    text-align: center;
    /* צבע הטקסט */
    color: white;
}

.frame {
    /* רוחב */
    width: 80%;
    /* מקסימום רוחב */
    max-width: 900px;
    /* מינימום גובה */
    min-height: 300px;
    /* רקע */
    background-color: white;
    /* ריווח חיצוני אוטומטי (גורם למרכוס האלמנט) */
    margin: auto;
    /* ריווח פנימי של האלמנט */
    padding: 8px 16px;
    /* עיגול קצוות */
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    height: 30px;
}

nav {
    background-color: #e06606;
    margin-bottom: 16px;
    direction: rtl;
}

nav a {
    padding: 6px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #b04c00;

}