.Dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.Dashboard .card {
    background-color: white;
    box-shadow: 0 0 4px #949494;
    padding: 8px;
    border-radius: 4px;
    min-height: 60px;
    text-align: center;
}

.Dashboard .card header {
    font-size: 14px;
    font-weight: bold;
}

.Dashboard .card>div {
    font-size: 36px;
}