nav {
    background-color: coral;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* הגדרנו פוזישיין ע"מ לקבע את התפריטים הנפתחים */
li {
    display: inline;
    position: relative;
}

/* עיצבנו את הקישורים ע"מ שגם הריווח יהיה לחיץ */
a {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: #ffffff40;
}

/* עיצוב התפריט הנפתח */
li>ul {
    background-color: cadetblue;
    position: absolute;
    width: 100%;
    right: 0;
    display: none;
}

/* הצגת התפריט הנתפתח במעבר עכבר */
li:hover>ul {
    display: block;
}

/* עיצוב כל הקישורים של התפריט הנפתח */
li>ul a {
    display: block;
}

/* עיצוב כל התפריטים הנכדים והלאה */
li>ul>li ul {
    background-color: rgb(98, 160, 95);
    right: 100%;
    top: 0;
}