@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

html {
    min-height: 100%;
}

body {
    direction: rtl;
    padding-bottom: 200px;
    background: #333;
}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    color: white;
    margin: 16px;
}

.frame {
    text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 12px 0;
    margin: 0px;
}

button {
    background-color: #8bc34a;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
}

button:hover {
    background-color: #a4d967;
}

.board {
    display: inline-grid;
    overflow: hidden;
    background-color: #e4e4e4;
    gap: 6px;
    padding: 6px;
    border-radius: 12px;
}

.board div {
    width: 90px;
    height: 90px;
    background-color: #733bd5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}

.board div:hover {
    background-color: #5919c7;
}

.active {
    background-color: coral !important;
}