.frame {
    font-size: 0; /* removes the whitespace */
}

.frame>* {
    border: 3px solid black;
    height: 120px;
    text-align: center;
    background-color: #14573c;
    font-size: 18px;
    color: white;
    padding-top: 16px;
    box-sizing: border-box;
}

nav, section, aside {
    display: inline-block;
    width: 25%;
    height: 300px !important;
}

section {
    width: 50%;
}

@media (max-width: 768px) {
    .frame>* {
        display: block;
        width: 100%;
    }
}