.frame>* {
    border: 3px solid black;
    height: 120px;
    text-align: center;
    background-color: #14573c;
    font-size: 18px;
    color: white;
    padding-top: 16px;
}

nav, section, aside {
    float: right;
    width: 25%;
    box-sizing: border-box;
    height: 300px !important;
}

section {
    width: 50%;
}

footer {
    clear: both;
}