@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

body {
    direction: rtl;
    font-family: 'Rubik', sans-serif;
    background-color: #740fbc;
    padding-bottom: 200px;
}

h1 {
    text-align: center;
    color: white;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
}

h2 {
    padding: 8px;
    margin: 8px 0;
    border-bottom: 1px solid rgb(197, 197, 197);
    color: #4d4d4d;

    small {
        display: inline-block;
        direction: ltr;
    }
}

.example {
    display: flex;

    div {
        width: 200px;
        height: 180px;
        // עשינו פלקס גם לזה לצורך מרכוז הטקסט שבפנים
        display: flex;
        // מרכוז אופקי (X)
        justify-content: center;
        // מרכוז אנכי (Y)
        align-items: center;

        &:first-child {
            background-color: #0f7fbc;
        }

        &:nth-child(2) {
            background-color: #0fbcb3;
        }

        &:last-child {
            background-color: #0fbc37;
        }
    }
}

.ex2 {
    justify-content: center;
}

.ex3 {
    justify-content: space-between;
}

.ex4 {
    flex-wrap: wrap;

    div {
        width: 400px;
    }
}

.ex5 {
    height: 400px;
    background-color: #fcffdb;

    div:nth-child(2) {
        align-self: center;
    }

    div:nth-child(3) {
        align-self: end;
    }
}
